@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap");

/* This is for entire page, :root and variables */
/* :root{
    --primary-colot: red;
} */

body {
  font-family: "Poppins", sans-serif;
}

hr {
  margin: 3rem 0rem;
}
/* @container */
.container {
  padding-left: 1rem;
  padding-right: 1rem;
}

.centercontainer {
  max-width: 600px;
  margin: auto;
}

/** @links **/
.link-primary {
  color: white;
  text-decoration: none;
  background-color: #374151;
  /* top right bottom left for padding */
  padding: 0.5rem 1rem; /*top right*/
  border-radius: 7px;
}

.link-secondary {
  color: #374151;
  background-color: transparent;
  padding: 0.5rem 1rem;
  border: 1px solid #374151;
  border-radius: 7px;
  text-decoration: none;
  margin-left: 1rem;
}

/* @lists */

.list-non-bullet {
  list-style: none;
}

.list-inline {
  list-style: none;
  display: inline;
  padding: 0rem 0.5rem;
}

.navbar {
  background-color: #374151;
  padding: 2rem 1rem;
  border-radius: 0px 0px 0px 7px;
}

.brand-pill {
  color: white;
}

.link {
  list-style: none;
  display: inline;
  padding: 0rem 0.5rem;
}

.link-pills {
  color: white;
  text-decoration: none;
}

.link-block {
  text-align: right;
}

.brand-pill {
  font-weight: bold;
  font-size: 1.1rem;
}
